---
layout: markdown_page
title: "Legal & Corporate Affairs Roles"
---

[Leadership at GitLab](https://about.gitlab.com/company/team/structure/#s-group)

## Legal & Corporate Affairs Roles

<%= job_families('legal') %>
